* {
    box-sizing: border-box;
}

select {
    border:0px;
    outline:0px;
}

input {
    border-style: solid;
    border-width: 1px;
}

#page {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background-image: url("pic/background.jpg");
    background-size: cover;
}

#center-box {
    gap: .1rem;

    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    height: fit-content;
    width: 60%;
    background-color: white;
    border-radius: .5rem;

    margin: auto;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 2rem;
}

#inner-box {
    display: inline-flex;
    flex: 0 0 50%;
    padding: 2rem;
}

#login-form {
    padding-right: 2rem;
    width: 50%;
}

#login-form>* {
    margin: 10px auto;
}

#login {
    border: none;
    width: 100%;
    height: 15%;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-size: large;
    background-color: firebrick;
    transition: all 0.5s ease-in-out;
}

#login:hover {
    background-color: darkred;
    transition: all 0.5s ease-in-out;
}

#bar {
    width: 1px;
    background-color: lightgray;
}

#info {
    margin: auto auto;
    padding-left: 2rem;
    width: 50%;
    text-align: center;
    font-size: large;
}

.form-input {
    height: calc(1.5em + 1rem + 2px);
    padding: .5rem 1rem;
    display: block;
    border-radius: .6rem;
    width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
    max-width:100%;
    max-height:100%;
}

#info-box {
    display: inline-flex;
    flex: 0 0 auto;
    font-size: large;
    color: firebrick;

}

#cookie-info {
    margin-left: 1rem;
    cursor: pointer;
}

select {
    font-size: large;
    color: firebrick;
}

select option {
    font-size: large;
    color: firebrick;
}